<!--=== Content ===-->
    <div class="container content">
      <!-- Top Categories -->
      <div class="headline">
        <h2>Top Categories</h2></div>
      <div class="row category margin-bottom-20">
        <!-- Info Blocks -->
        <div class="col-md-4 col-sm-6">
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-sea icon-line icon-badge"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Top 100 templates</a></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-red fa fa-hdd-o"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Wikipedia</a> <small>(10837)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-brown fa fa-desktop"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Web design</a> <small>(462)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-green icon-line icon-graduation"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Education</a> <small>(396)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-dark fa fa-film"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Filmography</a> <small>(156)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
        </div>
        <!-- End Info Blocks -->
        <div class="col-md-4 col-sm-6">
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-sea icon-line icon-badge"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Top 100 templates</a></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-red fa fa-hdd-o"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Wikipedia</a> <small>(10837)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-brown fa fa-desktop"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Web design</a> <small>(462)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-green icon-line icon-graduation"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Education</a> <small>(396)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-dark fa fa-film"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Filmography</a> <small>(156)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
        </div>
        <!-- Info Blocks -->
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-blue fa fa-bell-o"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Hi-Tech</a> <small>(324)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-yellow fa fa-thumbs-o-up"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Programming</a> <small>(4053)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-aqua icon-line icon-playlist"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Music</a> <small>(268)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-purple fa fa-lightbulb-o"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Engineering</a> <small>(703)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
          <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
            <i class="icon-custom icon-sm rounded-x icon-bg-orange fa fa-area-chart"></i>
            <div class="content-boxes-in-v3">
              <h3><a href="#"> Others</a> <small>(1296)</small></h3>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
            </div>
          </div>
        </div>
        <!-- End Info Blocks -->
      </div>
      <!-- End Top Categories -->
    </div>
    <!--/container-->
    <!--=== End Content ===-->